.container{
    border: 2px solid red;
    background-color: aquamarine;
}
.buttons{
    margin-left: 500px;
}
.fadin{
    margin: 3px;
    width: 80px;
    display: none;
    height: 80px;
    float: left;
}
span {
    color: red;
    cursor: pointer;
  }
#one {
    background: #f00;
  }
  #two {
    background: #0f0;
  }
  #three {
    background: #00f;
  }